# Emacs
\#*\#
.\#*
*~
*.elc
auto-save-list
eshell
places
recentf
tramp

# Irony
/irony

# lsp-mode
.lsp-*
projects

# Magit
/transient

# straight.el
/straight
.cache
elpa

# Tree-sitter
/tree-sitter

# ellama
ellama-sessions