# Emacs
auto-save-list/
\#*\#
.\#*
*~

# Magit
/transient

# straight.el
/straight

# Quelpa
/quelpa

# Auto-Complete
ac-comphist.dat

# Projectile
*.eld

# Cask/Package
.cask/
elpa/

# Irony
/irony

# misc
places
recentf
/eshell
*.elc
